<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.FailX.BaggerBingo">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4212746257484958~6569092521" />
        <!--Activity's-->
        <activity android:name="com.FailX.BaggerBingo.SettingsActivity" />
        <activity android:name="com.FailX.BaggerBingo.FinishActivity" />
        <activity android:name="com.FailX.BaggerBingo.HowToActivity" />
        <activity android:name="com.FailX.BaggerBingo.ChooseActivity" />
        <activity android:name="com.FailX.BaggerBingo.FailActivity" />
        <activity android:name="com.FailX.BaggerBingo.MenuActivity" />
        <activity android:name="com.FailX.BaggerBingo.GameActivity" />
        <activity android:name="com.FailX.BaggerBingo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>